.person-right {
    position: fixed;
    bottom: 20px; /* Adjust this to position it vertically */
    right: 20px;  /* Adjust this to position it from the right */
    z-index: 1000; /* Ensures it's always on top of other content */
    animation: slide-in-right 1s forwards;
    
  }
  
  .police-image {
    width: 234px; /* Adjust size as needed */
    height: auto;
  }
  
  .person-message1 {
    background-color: #1F2937;
    color: rgb(224, 223, 223);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: -45px; /* Adjust to position the message above the image */
    left: -145px;
    opacity: 0;
    animation: fade-in-message 1s 0.5s ease-in-out forwards;
  }
  
  @keyframes slide-in-right {
    from {
      right: -150px;
    }
    to {
      right: 20px;
    }
  }